@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url(assets/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 70vh;
  position: relative;
}
.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background-color: black;
}
a{
  text-decoration: none;
}
nav {
   /* margin-top: 10px; */
  max-width: 60vw;
  height: 100px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}
nav .right {
    position: relative;
  z-index: 10;
}
.thumbnail {
  color: white;
  font-family: sans-serif;
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 23px;
  padding: 0 29px;
}
/* > make it applies to immediate child onlly  */

.thumbnail > :first-child {
  font-weight: 900;
  font-size: 45px;
  text-align: center;
}
.thumbnail > :nth-child(2) {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.thumbnail > :nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
 .separation {
    /* top: 70vh; */
   /* position: fixed; */
    /* z-index: 10; */
  height: 6px;
  margin: 20px 0;
  /* width: 100vw; */
  /* top: 70vh; */
  background-color: rgb(58, 58, 58);
  
}
.button-si {
  background-color: red;
  color: white;
  border-radius: 6px;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 12px;
}
.button-gs {
  background-color: red;
  color: white;
  border-radius: 7px;

  padding: 3px 10px;
  font-weight: bold;
  font-size: 20px;
}
.thumbnail .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.thumbnail .button-gs a{
  text-decoration: none;
  color: white;
}
.right a{
    text-decoration: none;
  color: white;
}
.right a:hover{
filter:contrast(200%)
}

.main input {
  padding: 7px 102px 7px 20px;
  border: 1px solid white;
    color: white;
  font-size: 13px;
  font-weight: 400;
  background-color: rgba(23, 23, 23, 0.5);
  border-radius: 7px;
}
nav .langselection {
    border: 2px solid rgba(255, 255, 255, 0.185);
  border-radius: 4px;
  padding: 2px 4px;
  background-color: rgba(194, 194, 194, 0.438);
  color: white;
  cursor: pointer;
}
.first{
  display: flex;
  color: white;
  margin: auto;
  /* flex-wrap: wrap; */
  /* height: 30vw; */
  max-width: 70vw;
  justify-content: center;
  align-items: center;
}
.secImg{
  position: relative;


}
.secImg img{
  width: 500px;
  position: relative;
  z-index: 10;

}
.secImg video{
  position: absolute;
  top:53px;
  width: 500px;

  right: 0;


}


section .first div{
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.first > div :nth-child(1){
  font-size: 48px;
  font-family: "Poppins", sans-serif;
}
.first > div :nth-child(2){
  font-size: 24px;

}
.second > div :nth-child(1){
  font-size: 48px;
  font-family: "Poppins", sans-serif;
}
.second > div :nth-child(2){
  /* display: flex; */
  font-size: 24px;
  
}
section .first{
  height: 45vh;
}
.second .secImg{
  margin:auto;
  /* display: inline-block; */
}
.second span{
  display: block;
}
.first span{
  display: block;
  
}
.faq h2{
  text-align: center;
  font-size: 50px;
  color: white;
}
.faq{
  color: white;
  padding: 34px;
  background-color: black;

}
svg{
  color: rgb(0, 0, 0);
  /* background-color: white; */
  filter: invert(1);
}
.faqbox{
  /* transition: all 2s ease-out; */
  display: flex;
  background-color: rgb(45,44,44);
  color: white;
  max-width: 60vw;
  justify-content: space-between;
  align-items: center;
  margin: 34px auto;
  padding: 24px;
  cursor: pointer;
  font-size: 24px;




}
.faqbox div{
  color: green;
  background-color: yellow;
}
.faqbox:hover{
  background-color: rgb(88, 87, 87);
}
footer{
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 14px;

}
footer a{
  /* text-decoration: none; */
  color: white;
  font-size: 20px;
  padding: 10px;
}
footer span{
  font-size: 34px;
  display: block;
padding: 34px 0px;
}
.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 29px;
  color: white;
}
.footer-items{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  /* padding: 25px; */
}
@media  screen and (max-width :1200px) {
  nav{
    max-width: 90vw;
  }
  .thumbnail .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
  .first{
    flex-wrap: wrap;
  }
  .secImg img{
  width: 300px;
  position: relative;
  z-index: 10;

}
.secImg video{
  position: absolute;
  top:53px;
  width: 300px;

  right: 0;


}

.thumbnail > :first-child {
  font-size: 32px;
}
.thumbnail > :nth-child(2) {
  font-size: 18px;
}
.thumbnail > :nth-child(3) {
  font-size: 18px;
}
.faq h2{
  font-size: 32px;
}
svg{
height: 12px;
}
.faqbox{
  max-width: 90vw;
  font-size: 16px;
}
footer{
  max-width: 90vw;
}
.footer{
  gap: 0px;
}
footer a{
  /* text-decoration: none; */
  color: white;
  font-size: 15px;
  padding: 5px;
}

}
@media  screen and (max-width :600px){

  .first > div :nth-child(1){
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}
.first > div :nth-child(2){
  font-size: 20px;

}
.second > div :nth-child(1){
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}
.second > div :nth-child(2){
  /* display: flex; */
  font-size: 20px;
  
}
}