body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
button{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;


}
.calculator{
    font-family: 'Times New Roman', Times, serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 50px;
    max-width: 500px;
    overflow: hidden;


}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: hsl(0, 0%, 25%);
    border: none;
    color: white;

}
button:hover{
    background-color: hsl(0, 0%, 50%);

}
button:active{
    background-color: hsl(0, 0%, 60%);

}

.operation-button{
 background-color: hsl(29, 86%, 49%);
}
.operation-button:hover{
 background-color: hsl(29, 86%, 60%);
}
.operation-button:active{
 background-color: hsl(29, 86%, 70%);
}