*{
    margin: 0;padding: 0;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", sans-serif;
font-weight: 750;
font-size: large;


body{
    background-color: black;
}
.left{
width: 25vw;
padding: 20px;
background-color: black;
color: white;

}
.right{
width: 85vw;
}


.home ul li{
    display: flex;
    gap: 15px;
    width: 24px;
    list-style: none;
    padding: 10px;
}

.invert{
    filter: invert(1);
}
.bg-black{
    background-color: black;
    color: white;

}
.bg-black{
    background-color: black;
}
.bg-grey1{
    background-color: rgb(30,30,31);

}
.bg-grey2{
    background-color: rgb(19,19,18);

}
.bg-grey3{
    background-color:rgb(35,35,34);

}
.rounded{
    border-radius: 7px;

}
.m-1{
    margin: 10px;
}
.color-1{
   color: rgb(178,178,179)
}
.color-2{
 color: white ;
}
.color-3{
color: black;
}
.bg-button{
     background-color: rgb(0, 0, 0);
     padding: 10px;
}