/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr,
        CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
        "Helvetica Neue", helvetica, arial, sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: large;
    font-weight: 750;
}

/* Body */
body {
    background-color: black;
    color: white;
}

/* Flex utility */
.flex {
    display: flex;
    align-items: center;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 40px;
    background-color: black;
    position: sticky;
    margin-top: 0;
}

/* LEFT SECTION */
.nav-left {
    gap: 20px;
}

/* Logo */
.logo img {
    height: 32px;
    cursor: pointer;
}

/* Nav Left List */
.nav-left ul {
    gap: 15px;
}

/* Buttons */
button {
    background: #242424;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #2e2e2e;
}

/* Home button */
.homebtn {
    padding: 10px;
    border-radius: 50%;
}

/* Search button */
.searchbtn {
    width: 250px;
    display: flex;
    gap: 10px;
}

/* Icons */
.homebtn img,
.searchbtn img {
    width: 16px;
}

/* RIGHT SECTION */
.nav-right {
    gap: 25px;
}

.nav-right ul {
    gap: 20px;
}

.nav-right a {
    color: #b3b3b3;
    font-size: 14px;
}

.nav-right a:hover {
    color: white;
}

/* Separator */
.navseparator {
    color: #b3b3b3;
}
.invert{
    filter: invert(1);
}
/* .login{
    background-color: white;

    border: none;
    border-radius: 16px;
    padding: 13px;
}
.login a{
    color: #0f0e0e;
      transition: 0.2s ease;

}
.nav-right .login a:hover {
    color: #0f0e0e;
        transform: scale(2);
} */
.nav-right .login a {
    background: white;
    color: black;
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.2s ease;
}

.nav-right .login a:hover {
    transform: scale(1.05);
}
.left{
    background-color: rgb(19,19,18);
    width: 25vw;
    height: 50vw;
    border-radius: 8px;
margin: 10px;

}
.right{
    margin: 10px;
    margin-left: 0px;
    

    border-radius: 8px;
    background-color: green;
    width: 75vw;
    height: 50vw;

    background: 
        radial-gradient(circle at top left, 
        #2a2a2a 0%, 
        #1a1a1a 40%, 
        #121212 70%);
        
    min-height: 100vh;
    padding: 30px;

}






